
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
 

.container:before,
.group:before,
.menu:before,
.container:after, 
.group:after,
.menu:after {
    content: " "; 
    display: table; 
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

img {
	max-width:100%;
	height: auto;
	vertical-align: middle;
}

body {
    width: $font-size-base;
    font-family: $font-family-sans;

}
