

@media (max-width: 1300px){ 


    .supplements-1 a {
        text-indent: -9999px;
        background: url("../img/medium/supplement/mika-baumeister-wbw5RjQXxyg-unsplash.jpg") center no-repeat;
        display: block;
        background-size: cover;
        height: 25em;
    }

    /****************************************************************/
    
    .supplements-2 a {
        text-indent: -9999px;
        background: url("../img/medium/supplement/fallon-michael-l7PFdtU8HOU-unsplash.jpg") center no-repeat;
        display: block;
        background-size: cover;
        height: 25em;
    }

    /*******************************************************************************/
 
     
    .supplements-3 a {
       text-indent: -9999px;
       background: url("../img/medium/supplement/the-tonik-5Lbyao5bzbc-unsplash.jpg") center no-repeat;
       display: block;
       background-size: cover;
       height: 25em;
   }


   /******************************************************************************/

    .supplements-4 a {
    text-indent: -9999px;
    background: url("../img/medium/supplement/joseph-greve-Tivp5fYe4Ng-unsplash.jpg") center no-repeat;
    display: block;
    background-size: cover;
    height: 25em;

    }

}


@media (max-width: 550px){
    
        .post-header-3 {
            display: block;
           // background: url("../img/medium/clark-tibbs-oqStl2L5oxI-unsplash.jpg") center 60px no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 40em;
            margin-top: 12em;
            margin-bottom: 10em;
            text-indent: -9999px;
        }
        

}
