

@media (max-width: 1300px){


    .training-1 a {
        text-indent: -9999px;
        background: url("../img/medium/training/anastase-maragos-i6zMB3yy-jE-unsplash.jpg") center no-repeat;
        display: block;
        background-size: cover;
        height: 25em;
    }
    

    /****************************************************************/
    
    .training-2 a {
        text-indent: -9999px;
        background: url("../img/medium/training/arthur-edelman-qfjuh4OLdxw-unsplash.jpg") center no-repeat;
        display: block;
        background-size: cover;
        height: 25em;
    }

    /*******************************************************************************/
 
     
    .training-3 a {
       text-indent: -9999px;
       background: url("../img/medium/training/valery-sysoev-qMWEzISL1p0-unsplash.jpg") center no-repeat;
       display: block;
       background-size: cover;
       height: 25em;
   }


   /******************************************************************************/

    .training-4 a {
    text-indent: -9999px;
    background: url("../img/medium/training/victor-freitas-cE31OaOfjbw-unsplash.jpg") center no-repeat;
    display: block;
    background-size: cover;
    height: 25em;

    }
}


@media (max-width: 550px){
    
        .post-header-4 {
            display: block;
           // background: url("../img/medium/clark-tibbs-oqStl2L5oxI-unsplash.jpg") center 60px no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 40em;
            margin-top: 12em;
            margin-bottom: 10em;
            text-indent: -9999px;
        }
}
